@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Lucca Ianaguivara Kisanucki<br />
    Universidade Federal do ABC<br />
    <abbr title="Phone">Phone:</abbr>
    (11)95449-3284
</address>

<address>
    <strong>Github:</strong> <a href="https://github.com/luccaki">github.com/luccaki</a><br />
</address>
