@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <article id="2a91f5a8-8d03-4dc1-8059-584d470e9592" class="page sans">
        <header><div class="page-header-icon page-header-icon-with-cover"><span class="icon">🖥️</span></div><h1 class="page-title">SalesWebMVC</h1></header><div class="page-body">
            <p id="19e9cc78-9ca7-4356-aedb-5ed47f7d5b2a" class=""><strong>Sistema Web com ASP .NET Core MVC e EntityFramework</strong></p><p id="440780fb-c5ad-40b7-91ae-3cc024ee7949" class="">
            </p>
        </div>
    </article>
</body>
</html>
